.register-container {
  margin: 45px 0;
  padding: 0 80px;

  .field {
    margin: 10px 0;
  }

  .register-button {
    button {
      width: 100%;
      background-color: #da3743;
      border: none;
    }
  }
}
