<div id="header">
  <div id="logo" routerLink="/">
    <a>
      <img src="../assets/logo.svg">
    </a>
  </div>
  <div id="sing-in-up-container">
    <div class="menu">
      <a><i nz-icon nzType="unordered-list" nzTheme="outline"></i>Каталог заведений</a>
      <a><i nz-icon nzType="appstore" nzTheme="outline"></i>Новости</a>        
    </div>
    <!-- <button nz-button nzType="primary" style="background-color: #237b98; -->
    <!-- border-color: #1c627a;">Зарегестрироваться</button> -->
    <button nz-button nzType="default">Войти</button>
  </div>
</div>
<router-outlet></router-outlet>
<div id="footer"></div>